<launch>

    <arg name="debug" default="false"/>

    <node name="specify_rect" pkg="cpp_uav" type="specify_rect.py" output="screen" args="$(arg debug)"/>
    <node name="torres_etal_2016" pkg="cpp_uav" type="torres_etal_2016" output="screen"/>

</launch>

<!-- vim: set et ft=xml fenc=utf-8 ff=unix sts=0 sw=4 ts=4 : -->
